# SPDX-FileCopyrightText: 2023 SeisSol Group
#
# SPDX-License-Identifier: MIT

build
cmake-build-debug
tmp
.vscode
.graphs

tensorforge.egg-info
venv
__pycache__
*.pyc

.idea
.vscode
.pytest_cache
*.swp
*.swo
*.swn

docs/build

build
cmake-build-*
gen_code
dist


test-deployment
.mutation-in-progress
