build
cmake-build-debug
tmp
.vscode
.graphs

tensorforge.egg-info
venv
__pycache__
*.pyc

.idea
.vscode
.pytest_cache
*.swp
*.swo
*.swn

docs/build

build
cmake-build-*
gen_code
dist


test-deployment

yateto.egg-info
.spack-env/

*.swo
*.swp

examples/created_code/